body {
    margin: 0px 50px 0px 50px;
    padding: 0px 50px 0px 50px;
    
}

p.date {
    color: brown;
    text-align: right;
}

div.entry{
    background-color: gainsboro;
    margin: 10px 0px 10px 0px;
    padding: 10px 50px 50px 50px;
}

header{
    width: 100%;
    position: fixed;
    left:0px;
   
}

header nav{
    background: orangered;
    position: absolute;
    width: 100%;
    top: 0px;
  

}

nav ul li{
    display: inline
}

nav ul li a{
    color: yellowgreen;
    padding:10px
}